Iterables
- Objects which support iteration over them

non-iterable objects ====> int, float, None, True, False ..
Iterable objects     ====> str, list, tuple, dict, set, iterator, generator, range()

In [1]:
# for digit in 1234:
#     print(digit)
# TypeError: 'int' object is not iterable

In [2]:
for digit in "1234":
    print(digit)

1
2
3
4

In [3]:
# string   -- iterable
for ch in "python programming":
    print(ch, end=" ")

p y t h o n   p r o g r a m m i n g

In [4]:
print("Collections - Lists  - iterable")
names = ["udhay", "prakash", "someone"]
for each_name in names:
    print("\t", each_name)

Collections - Lists  - iterable
	 udhay
	 prakash
	 someone

In [5]:
print("Collections - tuples  - iterable")
names = ("udhay", "prakash", "someone")
for each_name in names:
    print("\t", each_name)

Collections - tuples  - iterable
	 udhay
	 prakash
	 someone

In [6]:
print("Collections - sets  - iterable")
names = {"udhay", "prakash", "someone"}
for each_name in names:
    print("\t", each_name)

Collections - sets  - iterable
	 someone
	 prakash
	 udhay

In [ ]:
# NOTE: iterating over sets may not give the elements in defined sequence.

In [7]:
print("\nCollections - dictionaries  - iterable")
names = {"first": "udhay", "second": "prakash", "third": "someone"}
for each_name in names:
    print("\t" + each_name)

Collections - dictionaries  - iterable
	first
	second
	third

In [8]:
print("\nkeys")
for each_name in names.keys():
    print("\t" + each_name)

keys
	first
	second
	third

In [9]:
print("\nvalues")
for each_name in names.values():
    print("\t" + each_name)

values
	udhay
	prakash
	someone

In [10]:
for each_key, each_val in names.items():
    print("\t", each_key, "====>", each_val)

	 first ====> udhay
	 second ====> prakash
	 third ====> someone

In [11]:
values = [12, 23, 34, 50, ]

for num in values:
    print(num, end= ' ')
print()

for index, num in enumerate(values):
    print(index, num)

12 23 34 50
0 12
1 23
2 34
3 50

In [12]:
names

{'first': 'udhay', 'second': 'prakash', 'third': 'someone'}

In [13]:
for index, key in enumerate(names):
    print(index, key)

0 first
1 second
2 third

In [14]:
for index, key in enumerate(names.items()):
    print(index, key)

0 ('first', 'udhay')
1 ('second', 'prakash')
2 ('third', 'someone')

In [15]:
for index, key, value in enumerate(names.items()):
    print(index, key, value)

ValueError: not enough values to unpack (expected 3, got 2)

In [16]:
# 0 ('first', 'udhay')

for index, (key, value) in enumerate(names.items()):  # proper unpacking
    print(index, key, value)

0 first udhay
1 second prakash
2 third someone

In [17]:

my_string = "Program"

count = 0
for ech_chr in my_string:
    print(count, ech_chr)
    count += 1

print()
for ech_chr in enumerate(my_string):
    print(ech_chr)

0 P
1 r
2 o
3 g
4 r
5 a
6 m

(0, 'P')
(1, 'r')
(2, 'o')
(3, 'g')
(4, 'r')
(5, 'a')
(6, 'm')

In [18]:
for loop_index, ech_chr in enumerate(my_string):
    print(f"At loop {loop_index:2}, we found {ech_chr}")

print()
for loop_index, ech_chr in enumerate(my_string, start=0):
    print(f"At loop {loop_index:2}, we found {ech_chr}")

At loop  0, we found P
At loop  1, we found r
At loop  2, we found o
At loop  3, we found g
At loop  4, we found r
At loop  5, we found a
At loop  6, we found m

At loop  0, we found P
At loop  1, we found r
At loop  2, we found o
At loop  3, we found g
At loop  4, we found r
At loop  5, we found a
At loop  6, we found m

In [19]:
for loop_index, ech_chr in enumerate(my_string, start=4):
    print(f"At loop {loop_index:2}, we found {ech_chr}")

At loop  4, we found P
At loop  5, we found r
At loop  6, we found o
At loop  7, we found g
At loop  8, we found r
At loop  9, we found a
At loop 10, we found m

In [ ]:
# for loop_index, ech_chr in enumerate(my_string, start=-3.5):
#     print(f'At loop {loop_index:2}, we found {ech_chr}')
# TypeError: 'float' object cannot be interpreted as an integer

all() and any()
bool()
    int/float
        zero     - False
        non-zero - True
    str
        empty str - False
        non-empty - True
    brace
        empty     - False
        with ele  - True

all() -> True if bool(each element) is True
any() -> True if bool(at-least one element) is True

In [20]:
bool(1)

True

In [ ]:
bool(0)

In [21]:
bool(-12.12)

True

In [22]:
bool('asad')

True

In [23]:
# all() -> True if bool(ech_element) is True
my_list = [1, 2, 3, 4, 6, 0, 6, 7]
for i in my_list:
    if not bool(i):
        print(i, bool(i))
        result = False
        break
else:
    print("All loop given are ran")
    result = True

print('result', result)

0 False
result False

In [24]:
all(my_list)

False

In [25]:
print(my_list, result)
print(my_list, all(my_list))

[1, 2, 3, 4, 6, 0, 6, 7] False
[1, 2, 3, 4, 6, 0, 6, 7] False

In [26]:
# any() -> True if bool(atleast one element) is True
print()
my_list = [1, 2, 3, 4, 6, 0]
for i in my_list:
    if bool(i):
        print(i, bool(i))
        result = True
        break
else:
    result = False

print(my_list, result)
print(my_list, any(my_list))

1 True
[1, 2, 3, 4, 6, 0] True
[1, 2, 3, 4, 6, 0] True

In [27]:
print(all([1, 1, 1, 0]))  # False
print(any([0, 0, 0, 1]))  # True

False
True

In [28]:
print("python", all("python"))  # True
print("pyt hon", all("pyt hon"))  # True
print(f'{bool(" ") =}')
print(f'{bool("")  =}')

python True
pyt hon True
bool(" ") =True
bool("")  =False

Sorting
Python uses Timsort algorithm for sorting list.sort()
sorted()
    - applicable on any iterable object
    - create new list object and stores sorted result there
    - default sorting is in ascending order
reversed()
    - results in an lazy object
    - reverses the elements in reverse order of ASSIGNMENT

In [29]:
numbers = [5, 2, 3, 1, 4]
print(f"numbers         : {numbers}")

numbers         : [5, 2, 3, 1, 4]

In [31]:
print(f"sorted(numbers) : {sorted(numbers)}")
print(f"numbers         : {numbers}")

sorted(numbers) : [1, 2, 3, 4, 5]
numbers         : [5, 2, 3, 1, 4]

In [ ]:
# NOTE: sorted() will create new objects. 
# existing objects is not modified.

In [32]:
word = "az AZ 10"
print(f"word                        :{word}")
print(f"list(word)                  :{list(word)}")
print(f"sorted(word)                :{sorted(word)}")
print(f"sorted(word, key=str.lower) :{sorted(word, key=str.lower)}")

word                        :az AZ 10
list(word)                  :['a', 'z', ' ', 'A', 'Z', ' ', '1', '0']
sorted(word)                :[' ', ' ', '0', '1', 'A', 'Z', 'a', 'z']
sorted(word, key=str.lower) :[' ', ' ', '0', '1', 'a', 'A', 'z', 'Z']

In [33]:
lst_of_strs = "Apple is a fruit".split()
print(lst_of_strs)
print(sorted(lst_of_strs))
print(sorted(lst_of_strs, key=str.lower))

['Apple', 'is', 'a', 'fruit']
['Apple', 'a', 'fruit', 'is']
['a', 'Apple', 'fruit', 'is']

In [34]:
my_dict = {1: "D", 2: "B", 3: "B", 4: "E", 5: "A"}
print(sorted(my_dict))              # [1, 2, 3, 4, 5]
print(sorted(my_dict.keys()))       # [1, 2, 3, 4, 5]
print(sorted(my_dict.values()))     # ['A', 'B', 'B', 'D', 'E']

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
['A', 'B', 'B', 'D', 'E']

In [35]:
print(sorted(my_dict.items()))          # [(1, 'D'), (2, 'B'), (3, 'B'), (4, 'E'), (5, 'A')]
print(sorted(my_dict.items(), key=lambda x: x[0]))  # by key

[(1, 'D'), (2, 'B'), (3, 'B'), (4, 'E'), (5, 'A')]
[(1, 'D'), (2, 'B'), (3, 'B'), (4, 'E'), (5, 'A')]

In [36]:
print(sorted(my_dict.items(), key=lambda x: x[1]))  # by value

[(5, 'A'), (2, 'B'), (3, 'B'), (1, 'D'), (4, 'E')]

In [37]:
print(sorted(my_dict.items(), key=lambda x: x[1], reverse=True))  # by value

[(4, 'E'), (1, 'D'), (2, 'B'), (3, 'B'), (5, 'A')]

In [38]:
print(sorted(my_dict.items(), key=lambda x: (x[1], x[0]), reverse=True))  # by value and then by key - both dec

[(4, 'E'), (1, 'D'), (3, 'B'), (2, 'B'), (5, 'A')]

In [39]:
print(sorted(my_dict.items(), key=lambda x: (x[1], -x[0])))  # by value asc and then key dec

[(5, 'A'), (3, 'B'), (2, 'B'), (1, 'D'), (4, 'E')]

In [40]:
ord('B')

66

In [41]:
- ord('B')

-66